<h1><em> Welcome to My research Library </em></h1>


<p> Enjoy having a place to save and share research with fellow users alike. </p>

<%= link_to "SignUp", signup_path %><br>

<%= link_to "Login", login_path %>